<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <button style="float : right" (click)="deleteTicket()" class="fa fa-window-close"></button>
  <h3>Titre : {{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}}<br>
  <div *ngIf="ticket.major==='M1' ">
    <i class="fa fa-adn" aria-hidden="true"></i> {{ticket.major}}  
  </div>
  <div *ngIf="ticket.major==='L3' ">
    <i class="far fa-user" aria-hidden="true"></i> {{ticket.major}}
  </div>
  
</div>